$main: #181818;
$navbar: #1D1D1D;
$white: #FFFFFF;
$font: #CCCCC0;
$card: #FCFCFC;
$card-transparent: rgba(0, 0, 0, 0.51);
$footer: #7C7C6E;
$text: #EEEEEE;
$btn-border: 1px solid #181818;
$banner-text: #222222;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-400: 500;
$font-600: 600;
$font-700: 700;
